/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
  
} */


/* welcome.component.css */



body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f8f8;
    color: #333;
    line-height: 1.6;
}
.about-background {
    background: url('../../../assets/images/about.jpg');
    padding: 50px 20px;
    text-align: center;
    color: #fff;
}
.about, .story, .mission {
    margin-bottom: 40px;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
span {
    font-weight: bold;
    color: #ff6347;
}
.content {
    background:black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

/*body.about-background {
    background-image: url('../../../assets/images/about.jpg');*/
    /* background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.about, .story, .mission {
    margin-bottom: 20px;
}

.about h1, .story h1, .mission h1 {
    color: #833ab4;
    font-weight: 800;
}

.content, .content1 {
    color: rgb(14, 13, 13);
    font-size: 20px;
}

.content1 span {
    color: #fd0819;
    font-size: 25px;
}

.mission p {
    color: rgb(12, 12, 12);
    font-size: 20px;
} */
