<!--<body style="background-image: url('../../../assets/images/about.jpg'); background-repeat: no-repeat; height: 100vh; background-size: cover; background-position: center; padding: 20px;">
    <div class="about"> 
        <h1 style="color: #833ab4; font-weight: 800;">Restaurant :</h1>

    </div>
    <div class="content">
        <p style="color: rgb(14, 13, 13); font-size: 20px; ">At <span style="color: #fd0819;">Vinay&Co</span>, we believe in the power of good food and great company. Established with a passion for culinary excellence and a commitment to impeccable service, we strive to create memorable dining experiences for every guest who walks through our doors.</p>

    </div>
    <div class="story">
        <h1 style="color: #833ab4; font-weight: 800;">Our Story :</h1>
    </div>
    <div class="content1">
        <p style="color: rgb(16, 16, 15); font-size: 20px; ">Founded <span style="color: #fd0819; font-size: 25px;">2000</span>, <span style="color: #fd0819;font-size: 25px;">Vinay&Co</span> has been a cornerstone of the local dining scene, offering a fusion of flavors and a warm, inviting ambiance. Our journey began with a vision to provide not just a meal, but an unforgettable culinary journey that tantalizes the taste buds and nourishes the soul.</p>
    </div>
    <div class="mission">
        <h1 style="color: #833ab4; font-weight: 800;">Mission :</h1>
    </div>
    <div>
        <p style="color: rgb(12, 12, 12); font-size: 20px;">We are dedicated to crafting delectable dishes using only the freshest ingredients sourced from local farmers and trusted suppliers. Our chefs, with their creativity and expertise, curate menus that.</p>
    </div>
</body>

-->

<body class="about-background">
    <div class="about"> 
        <h1>Restaurant :</h1>
    </div>
    <div class="content">
        <p>At <span>Vinay&Co</span>, we believe in the power of good food and great company. Established with a passion for culinary excellence and a commitment to impeccable service, we strive to create memorable dining experiences for every guest who walks through our doors.</p>
    </div>
    <div class="story">
        <h1>Our Story :</h1>
    </div>
    <div class="content">
        <p>Founded <span>2000</span>, <span>Vinay&Co</span> has been a cornerstone of the local dining scene, offering a fusion of flavors and a warm, inviting ambiance. Our journey began with a vision to provide not just a meal, but an unforgettable culinary journey that tantalizes the taste buds and nourishes the soul.</p>
    </div>
    <div class="mission">
        <h1>Mission :</h1>
    </div>
    <div class="content">
        <p>We are dedicated to crafting delectable dishes using only the freshest ingredients sourced from local farmers and trusted suppliers. Our chefs, with their creativity and expertise, curate menus that.</p>
    </div>
</body>

